.index-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen, (max-width: 630px) {
  .index-page-wrapper {
    padding: 0px 25px 0px 25px;
  }
}

.index-page-wrapper p {
  max-width: 555px;
  margin-bottom: 0.75rem;
}

.donation-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 300px;
}

.donation-elements {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#donation-completion-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-completion-buttons {
  display: flex;
  justify-content: flex-end;
}

.donation-completion-buttons button {
  margin: 0 10px;
}

.donation-email-container {
}

.donation-email-container label {
  display: flex;
  flex-direction: column;
}

.donation-email-container input {
  color: gray;
  font-weight: normal;
  border: none;
}

.donation-email-container input:focus {
  color: #006400;
  font-weight: normal;
  border: none;
}

#confirm-donation-btn {
  font-size: 1.2rem;
  height: 75px;
  color: white;
}

#confirm-donation-btn:enabled {
  background-color: #006400;
  color: #fff;
}

#confirm-donation-btn:hover:enabled {
  background-color: #fff;
  color: #006400;
}